html, body {
    background-color: #F7F7FF;
}

.navbar-color {
    background-color: #000068;
    color:#f2f1ef;
}

nav:hover {
    background-color: yellow;
    opacity: 0.25;
}

table {
    position: absolute;
    margin-left: 25px;
    padding: 10px;
    box-shadow: 4px #000000;
    background-color: #87CEEB;
}

tr {
    margin-left: 25px;
    padding: 10px;
}